body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin: 7px;
  background-color: #2e436e;
  padding: 5px;
  border-randius: 10px;
  align-items: center;
  border-radius: 5%;
  font-family: 𝐟𝐚𝐧𝐜𝐲 𝐭𝐞𝐱𝐭;
}

.Formulario label,
input {
  font-family: 𝘧𝘢𝘯𝘤𝘺 ;
  width: calc(90% - 5px);
  text-align: left;
  margin: 4px 0;
}


.Boton {
  margin: 15px 0;
  padding: 5px 8px;
  background-color: #919cce;
  cursor: pointer;
  border-radius: 5px;
}

.botonContainer {
  gap: 10px;
}

.materias {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.materia {
	width: 62vw;
	display: flex;
	flex-direction: row;
	margin: 5px;
	background-color: #919cce;
	position: relative;
	user-select: none;

}

.dato {
	font-size: 17px;
	font-weight: 500;
	color: white;
}