body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: rgb(32, 43, 143);
  padding: 5px;
  border-randius: 10px;
  align-items: center;
}

.Formulario label,
input {
  width: calc(100% - 5px);
  text-align: left;
  margin: 3px 0;
}

.Boton {
  margin: 15px 0;
  padding: 5px 8px;
  background-color: rgb(102, 110, 226);
  cursor: pointer;
  border-radius: 5px;
}

.botonContainer {
  gap: 10px;
}

.materias {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.materia {
	width: 62vw;
	display: flex;
	flex-direction: row;
	margin: 5px;
	background-color: #C87D6D;
	position: relative;
	user-select: none;

}

.dato {
	font-size: 17px;
	font-weight: 500;
	color: white;
}